<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>


    <head>
<div class="login container">
<h2>Iniciar sesion</h2>
<label for="username"> Usuario</label>
<input type="text"   id="username" name="username" required>

<label for="password">Contraseña</label>
<input type="password" id="password" name="password" >
<button type="submit">Ingresar</button>


<p>¿No tienees cuenta? <a href="register.html">Registrate aquí</a></p>
</div>


    </head>
    
</body>
</html>
